body
{
	background-color:#000;
}

img.imagelink
{

}

a
{
	text-decoration:none;
}

a.imagelink
{
	color:rgba(0,0,0,0);
}

div.toptext
{
	margin-left:20%;
	margin-bottom:5%;
}

p.toptext
{
	color:rgb(255, 255, 255);
	font-size:1.75em;
}

div.midtext
{
	margin-right:65%;
	margin-bottom:2%;
}

p.midtext
{
	color:rgb(255, 255, 255);
	font-size:1.5em;
	text-align:right;
	margin-left:0%;
	margin-top:0;
	margin-bottom:0;
	margin-right:0;
}

p.midtextsep
{
	color:rgb(255, 255, 255);
	font-size:1.5em;
	text-align:left;
	margin-left:65%;
	margin-top:0;
	margin-bottom:0;
}

div.imagelinkcontainer
{
	position:relative;
	color:rgba(0,0,0,0);
	width:50%;
	height:auto;
	margin-left:25%;
	margin-right:auto;
	margin-bottom:5%;
}

div:hover.imagelinkcontainer
{
	filter:sepia(75%);
}

div:hover.imagelinkcontainer > a.imagelink > div.imagelink
{
	color:rgb(255,255,255);
	background-color:rgb(0,0,0);
	margin-left:10%
}

div.imagelink
{
	position: absolute;
	text-align: left;
	left:0%;
	top:10%;
	width:75%;
	font-size:3em;
}

div.otherprojaudio
{
	margin-top:0;
	position: absolute;
	left:35%;
}

p.otherprojaudio
{
	margin-top:0;
	text-align: center;
	color:rgb(255,255,255);
}

div.otherproj
{
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
}

p.otherproj
{
	font-size:1.5em;
	margin-top:0;
	margin-left:25%;
	text-align: left;
	color:rgb(255,255,255);
}

a.otherproj
{

}

div.autodrawingheader
{

}

p.autodrawingheader
{
	font-size:3em;
	margin-left:5%;
	color:rgb(255,255,255);
}

div.autodrawingheader2
{

}

p.autodrawingheader2
{
	font-size:1.5em;
	margin-left:5%;
	color:rgb(255,255,255);
}

div.autodrawgallery
{
	margin-top:5%;
	margin-left:10%;
	margin-right:0;
}

img.autodrawgalleryicon
{
	width:10%;
}
