body
{
	background-color:#000;
}

img.imagelink
{

}

a
{
	text-decoration:none;
}

a.imagelink
{
	color:rgba(0,0,0,0);
}

div.toptext
{
	margin-left:10%;
	margin-bottom:5%;
}

p.toptext
{
	color:rgb(255, 255, 255);
	font-size:1.75em;
}

div.imagelinkcontainer
{
	position:relative;
	color:rgba(0,0,0,0);
	width:50%;
	height:auto;
	margin-left:25%;
	margin-right:auto;
	margin-bottom:5%;
}

div:hover.imagelinkcontainer
{
	filter:sepia(75%);
}

div:hover.imagelinkcontainer > a.imagelink > div.imagelink
{
	color:rgb(255,255,255);
	background-color:rgb(0,0,0);
	margin-left:10%
}

div.imagelink
{
	position: absolute;
	text-align: left;
	left:0%;
	top:10%;
	width:75%;
	font-size:3em;
}

